<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ec/San_Jose_State_Spartans_logo.svg/1200px-San_Jose_State_Spartans_logo.svg.png" alt="logo" width="27" height="27" >
        Spirit World
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/resources">Resources</a>
            <% if(currentUser && currentUser._id.equals('5fc4acacee35083248601578')) {%>


                <a class="nav-link" href="/resources/AddResource">New Resource</a>

            <% } %>

            <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        </div>
        <!--ml-auto to move to left side-->
        <div class="div navbar-nav ml-auto">
            <% if(!currentUser) {%>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else {%>
                    <h3 class="mr-3 text-success"> Hi! <%= currentUser.username%> </h3>
                    <a class="nav-link" href="/logout">Logout</a>
            <% } %>

        </div>
    </div>
</nav>