* {
  box-sizing: border-box;
}

.ProfilePage {
  margin: 25px 50px 75px 100px;
  padding-bottom: 50px;
}

.new-line {
  white-space: pre-line;
}

.ProfileFavListButton {
  background-color: #23c3db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:relative;
  margin-top:7%;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
}
  

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  grid-gap: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.log {
  width: 400px;
  margin: 5% auto;
  background-color: #FFF;
  padding: 30px 0;
}
.Logo {

	color: #0E69D3;
	font-weight: bold;

}
.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  /*color: rgba(58, 133, 191, 0.75);*/
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  /*background: transparent;*/
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  /*background: rgba(58, 133, 191, 0.75);*/
  border: 2px solid rgba(58, 133, 191, 0.75);
}
.FormTitle {
	color: #0E69D3;
	font-weight: bold;
	font-size: 50px;

}
.article_block {
  border: 1px solid #e2e2e2;
  margin-bottom: 20px;
  padding: 10px 10px;
}

.split {
  height: 80%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  border: 60px solid white;
  left: 0;
  background-color: #cde5fe;
}

/* Control the right side */
.right {
  border: 60px solid white;
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

