body {
    background-image: linear-gradient(rgba(110, 110, 110, -1.2), rgba(110,110,110,0.2)),

    url("https://images.unsplash.com/photo-1564604761388-83eafc96f668?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;
    background-attachment: fixed;
}