.cover-container {
  background-color: #000000;
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.7)),
  url("https://www.sjsu.edu/communications/pics/ADJ_sjsu-gate-dschmitz-111417-3154_flat.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center;
  background-attachment: fixed;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.sjsuResources {
  display: none;
  align-items: center;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.intro {
  color: white;
  font-style: italic;
  text-align: center;
}

.info {
  color: white;
  font-style: italic;
  text-align: center;
  margin: 20px 100px;
  padding: 20px 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.sjsuResPic {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #7596c9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 30px;
}
