body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1465929639680-64ee080eb3ed?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;
    background-attachment: fixed;
}

